
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCrmOpportunityLabel" data-translate="protoneApp.crmOpportunity.home.createOrEditLabel">Create or edit a Crm Opportunity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.crmOpportunity.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.crmOpportunity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmOpportunity.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.crmOpportunity.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmOpportunity.lastTry" for="field_lastTry">Last Try</label>
                <div class="input-group">
                    <input id="field_lastTry" type="text" class="form-control" name="lastTry" uib-datepicker-popup="{{dateformat}}" ng-model="vm.crmOpportunity.lastTry" is-open="vm.datePickerOpenStatus.lastTry"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastTry')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmOpportunity.closeDate" for="field_closeDate">Close Date</label>
                <div class="input-group">
                    <input id="field_closeDate" type="text" class="form-control" name="closeDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.crmOpportunity.closeDate" is-open="vm.datePickerOpenStatus.closeDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('closeDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmOpportunity.probability" for="field_probability">Probability</label>
            <input type="number" class="form-control" name="probability" id="field_probability"
                    ng-model="vm.crmOpportunity.probability"
                    />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.crmOpportunity.stage" for="field_stage">Stage</label>
            <select class="form-control" id="field_stage" name="stage" ng-model="vm.crmOpportunity.stageId" ng-options="crmStage.id as crmStage.id for crmStage in vm.crmstages"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmOpportunity.keeper" for="field_keeper">Keeper</label>
            <select class="form-control" id="field_keeper" name="keeper" ng-model="vm.crmOpportunity.keeperId" ng-options="corUser.id as corUser.id for corUser in vm.corusers"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmOpportunity.contact" for="field_contact">Contact</label>
            <select class="form-control" id="field_contact" name="contact" ng-model="vm.crmOpportunity.contactId" ng-options="crmContact.id as crmContact.id for crmContact in vm.crmcontacts"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmOpportunity.account" for="field_account">Account</label>
            <select class="form-control" id="field_account" name="account" ng-model="vm.crmOpportunity.accountId" ng-options="crmAccount.id as crmAccount.id for crmAccount in vm.crmaccounts"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmOpportunity.lead" for="field_lead">Lead</label>
            <select class="form-control" id="field_lead" name="lead" ng-model="vm.crmOpportunity.leadId" ng-options="crmLead.id as crmLead.id for crmLead in vm.crmleads"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmOpportunity.network" for="field_network">Network</label>
            <select class="form-control" id="field_network" name="network" ng-model="vm.crmOpportunity.networkId" ng-options="corNetwork.id as corNetwork.id for corNetwork in vm.cornetworks"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
