
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLIBFileItemLabel" data-translate="protoneApp.lIBFileItem.home.createOrEditLabel">Create or edit a LIB File Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lIBFileItem.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lIBFileItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBFileItem.idx" for="field_idx">Idx</label>
            <input type="text" class="form-control" name="idx" id="field_idx"
                    ng-model="vm.lIBFileItem.idx"
                    required ng-maxlength="15" />
            <div ng-show="editForm.idx.$invalid">
                <p class="help-block"
                    ng-show="editForm.idx.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idx.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="15">
                    This field cannot be longer than 15 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBFileItem.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.lIBFileItem.name"
                    required ng-maxlength="100" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBFileItem.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.lIBFileItem.type" id="field_type">
                <option value="FT_ROOT" data-translate="protoneApp.LIBFileTypeEnum.FT_ROOT">FT_ROOT</option>
                <option value="FT_DIRECTORY" data-translate="protoneApp.LIBFileTypeEnum.FT_DIRECTORY">FT_DIRECTORY</option>
                <option value="FT_FILE" data-translate="protoneApp.LIBFileTypeEnum.FT_FILE">FT_FILE</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.lIBFileItem.library" for="field_library">Library</label>
            <select class="form-control" id="field_library" name="library" ng-model="vm.lIBFileItem.libraryId" ng-options="lIBLibrary.id as lIBLibrary.id for lIBLibrary in vm.liblibraries"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.lIBFileItem.parentFile" for="field_parentFile">Parent File</label>
            <select class="form-control" id="field_parentFile" name="parentFile" ng-model="vm.lIBFileItem.parentFileId" ng-options="lIBFileItem.id as lIBFileItem.id for lIBFileItem in vm.libfileitems"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
