
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLIBAlbumLabel" data-translate="protoneApp.lIBAlbum.home.createOrEditLabel">Create or edit a LIB Album</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lIBAlbum.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lIBAlbum.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBAlbum.albumType" for="field_albumType">Album Type</label>
            <select class="form-control" name="albumType" ng-model="vm.lIBAlbum.albumType" id="field_albumType" required>
                <option value="AT_ALBUM" data-translate="protoneApp.LIBAlbumTypeEnum.AT_ALBUM">AT_ALBUM</option>
                <option value="AT_SINGLE" data-translate="protoneApp.LIBAlbumTypeEnum.AT_SINGLE">AT_SINGLE</option>
                <option value="AT_COMPILATION" data-translate="protoneApp.LIBAlbumTypeEnum.AT_COMPILATION">AT_COMPILATION</option>
                <option value="AT_OTHER" data-translate="protoneApp.LIBAlbumTypeEnum.AT_OTHER">AT_OTHER</option>
            </select>
            <div ng-show="editForm.albumType.$invalid">
                <p class="help-block"
                    ng-show="editForm.albumType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBAlbum.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.lIBAlbum.name"
                    required ng-maxlength="100" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBAlbum.releaseDate" for="field_releaseDate">Release Date</label>
                <div class="input-group">
                    <input id="field_releaseDate" type="text" class="form-control" name="releaseDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.lIBAlbum.releaseDate" is-open="vm.datePickerOpenStatus.releaseDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('releaseDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBAlbum.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.lIBAlbum.description"
                     />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.lIBAlbum.cover" for="field_cover">Cover</label>
            <select class="form-control" id="field_cover" name="cover" ng-model="vm.lIBAlbum.coverId" ng-options="lIBImageItem.id as lIBImageItem.id for lIBImageItem in vm.covers | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.lIBAlbum.label" for="field_label">Label</label>
            <select class="form-control" id="field_label" name="label" ng-model="vm.lIBAlbum.labelId" ng-options="lIBLabel.id as lIBLabel.id for lIBLabel in vm.liblabels"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.lIBAlbum.artist" for="field_artist">Artist</label>
            <select class="form-control" id="field_artist" name="artist" ng-model="vm.lIBAlbum.artistId" ng-options="lIBArtist.id as lIBArtist.id for lIBArtist in vm.libartists"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.lIBAlbum.network" for="field_network">Network</label>
            <select class="form-control" id="field_network" name="network" ng-model="vm.lIBAlbum.networkId" ng-options="cORNetwork.id as cORNetwork.id for cORNetwork in vm.cornetworks"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
