
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySchBlockLabel" data-translate="protoneApp.schBlock.home.createOrEditLabel">Create or edit a Sch Block</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.schBlock.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.schBlock.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.seq" for="field_seq">Seq</label>
            <input type="number" class="form-control" name="seq" id="field_seq"
                    ng-model="vm.schBlock.seq"
                    required/>
            <div ng-show="editForm.seq.$invalid">
                <p class="help-block"
                    ng-show="editForm.seq.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.seq.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.schBlock.name"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.schBlock.type" id="field_type">
                <option value="BT_DAY" data-translate="protoneApp.SchBlockTypeEnum.BT_DAY">BT_DAY</option>
                <option value="BT_BAND" data-translate="protoneApp.SchBlockTypeEnum.BT_BAND">BT_BAND</option>
                <option value="BT_HOUR" data-translate="protoneApp.SchBlockTypeEnum.BT_HOUR">BT_HOUR</option>
                <option value="BT_NEWS" data-translate="protoneApp.SchBlockTypeEnum.BT_NEWS">BT_NEWS</option>
                <option value="BT_COMMERCIAL" data-translate="protoneApp.SchBlockTypeEnum.BT_COMMERCIAL">BT_COMMERCIAL</option>
                <option value="BT_PROGRAM" data-translate="protoneApp.SchBlockTypeEnum.BT_PROGRAM">BT_PROGRAM</option>
                <option value="BT_LIVE" data-translate="protoneApp.SchBlockTypeEnum.BT_LIVE">BT_LIVE</option>
                <option value="BT_OTHER" data-translate="protoneApp.SchBlockTypeEnum.BT_OTHER">BT_OTHER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.startType" for="field_startType">Start Type</label>
            <select class="form-control" name="startType" ng-model="vm.schBlock.startType" id="field_startType">
                <option value="ST_FREE" data-translate="protoneApp.SchStartTypeEnum.ST_FREE">ST_FREE</option>
                <option value="ST_RELATIVE" data-translate="protoneApp.SchStartTypeEnum.ST_RELATIVE">ST_RELATIVE</option>
                <option value="ST_ABSOLUTE" data-translate="protoneApp.SchStartTypeEnum.ST_ABSOLUTE">ST_ABSOLUTE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.relativeDelay" for="field_relativeDelay">Relative Delay</label>
            <input type="number" class="form-control" name="relativeDelay" id="field_relativeDelay"
                    ng-model="vm.schBlock.relativeDelay"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.scheduledStartTime" for="field_scheduledStartTime">Scheduled Start Time</label>
                <div class="input-group">
                    <input id="field_scheduledStartTime" type="text" class="form-control" name="scheduledStartTime" datetime-picker="{{dateformat}}" ng-model="vm.schBlock.scheduledStartTime" is-open="vm.datePickerOpenStatus.scheduledStartTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('scheduledStartTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.scheduledEndTime" for="field_scheduledEndTime">Scheduled End Time</label>
                <div class="input-group">
                    <input id="field_scheduledEndTime" type="text" class="form-control" name="scheduledEndTime" datetime-picker="{{dateformat}}" ng-model="vm.schBlock.scheduledEndTime" is-open="vm.datePickerOpenStatus.scheduledEndTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('scheduledEndTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.scheduledLength" for="field_scheduledLength">Scheduled Length</label>
            <input type="number" class="form-control" name="scheduledLength" id="field_scheduledLength"
                    ng-model="vm.schBlock.scheduledLength"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.startTime" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" datetime-picker="{{dateformat}}" ng-model="vm.schBlock.startTime" is-open="vm.datePickerOpenStatus.startTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.endTime" for="field_endTime">End Time</label>
                <div class="input-group">
                    <input id="field_endTime" type="text" class="form-control" name="endTime" datetime-picker="{{dateformat}}" ng-model="vm.schBlock.endTime" is-open="vm.datePickerOpenStatus.endTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.length" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                    ng-model="vm.schBlock.length"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.dimYear" for="field_dimYear">Dim Year</label>
            <input type="number" class="form-control" name="dimYear" id="field_dimYear"
                    ng-model="vm.schBlock.dimYear"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.dimMonth" for="field_dimMonth">Dim Month</label>
            <input type="number" class="form-control" name="dimMonth" id="field_dimMonth"
                    ng-model="vm.schBlock.dimMonth"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.dimDay" for="field_dimDay">Dim Day</label>
            <input type="number" class="form-control" name="dimDay" id="field_dimDay"
                    ng-model="vm.schBlock.dimDay"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.dimHour" for="field_dimHour">Dim Hour</label>
            <input type="number" class="form-control" name="dimHour" id="field_dimHour"
                    ng-model="vm.schBlock.dimHour"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.dimMinute" for="field_dimMinute">Dim Minute</label>
            <input type="number" class="form-control" name="dimMinute" id="field_dimMinute"
                    ng-model="vm.schBlock.dimMinute"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schBlock.dimSecond" for="field_dimSecond">Dim Second</label>
            <input type="number" class="form-control" name="dimSecond" id="field_dimSecond"
                    ng-model="vm.schBlock.dimSecond"
                    />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.schBlock.playlist" for="field_playlist">Playlist</label>
            <select class="form-control" id="field_playlist" name="playlist" ng-model="vm.schBlock.playlistId" ng-options="schPlaylist.id as schPlaylist.id for schPlaylist in vm.schplaylists"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.schBlock.template" for="field_template">Template</label>
            <select class="form-control" id="field_template" name="template" ng-model="vm.schBlock.templateId" ng-options="schTemplate.id as schTemplate.id for schTemplate in vm.schtemplates"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.schBlock.parentBlock" for="field_parentBlock">Parent Block</label>
            <select class="form-control" id="field_parentBlock" name="parentBlock" ng-model="vm.schBlock.parentBlockId" ng-options="schBlock.id as schBlock.id for schBlock in vm.schblocks"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
