
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySchEmissionLabel" data-translate="protoneApp.schEmission.home.createOrEditLabel">Create or edit a Sch Emission</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.schEmission.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.schEmission.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.seq" for="field_seq">Seq</label>
            <input type="number" class="form-control" name="seq" id="field_seq"
                    ng-model="vm.schEmission.seq"
                    required/>
            <div ng-show="editForm.seq.$invalid">
                <p class="help-block"
                    ng-show="editForm.seq.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.seq.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.schEmission.name"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.startTime" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" datetime-picker="{{dateformat}}" ng-model="vm.schEmission.startTime" is-open="vm.datePickerOpenStatus.startTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.endTime" for="field_endTime">End Time</label>
                <div class="input-group">
                    <input id="field_endTime" type="text" class="form-control" name="endTime" datetime-picker="{{dateformat}}" ng-model="vm.schEmission.endTime" is-open="vm.datePickerOpenStatus.endTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.length" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                    ng-model="vm.schEmission.length"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.dimYear" for="field_dimYear">Dim Year</label>
            <input type="number" class="form-control" name="dimYear" id="field_dimYear"
                    ng-model="vm.schEmission.dimYear"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.dimMonth" for="field_dimMonth">Dim Month</label>
            <input type="number" class="form-control" name="dimMonth" id="field_dimMonth"
                    ng-model="vm.schEmission.dimMonth"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.dimDay" for="field_dimDay">Dim Day</label>
            <input type="number" class="form-control" name="dimDay" id="field_dimDay"
                    ng-model="vm.schEmission.dimDay"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.dimHour" for="field_dimHour">Dim Hour</label>
            <input type="number" class="form-control" name="dimHour" id="field_dimHour"
                    ng-model="vm.schEmission.dimHour"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.dimMinute" for="field_dimMinute">Dim Minute</label>
            <input type="number" class="form-control" name="dimMinute" id="field_dimMinute"
                    ng-model="vm.schEmission.dimMinute"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schEmission.dimSecond" for="field_dimSecond">Dim Second</label>
            <input type="number" class="form-control" name="dimSecond" id="field_dimSecond"
                    ng-model="vm.schEmission.dimSecond"
                    />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.schEmission.mediaItem" for="field_mediaItem">Media Item</label>
            <select class="form-control" id="field_mediaItem" name="mediaItem" ng-model="vm.schEmission.mediaItemId" ng-options="libMediaItem.id as libMediaItem.id for libMediaItem in vm.libmediaitems"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.schEmission.block" for="field_block">Block</label>
            <select class="form-control" id="field_block" name="block" ng-model="vm.schEmission.blockId" ng-options="schBlock.id as schBlock.id for schBlock in vm.schblocks"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.schEmission.campaings" for="field_campaings">Campaings</label>
            <select class="form-control" id="field_campaings" name="campaings" ng-model="vm.schEmission.campaingsId" ng-options="traCampaign.id as traCampaign.id for traCampaign in vm.tracampaigns"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
