
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySchPlaylistLabel" data-translate="protoneApp.schPlaylist.home.createOrEditLabel">Create or edit a Sch Playlist</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.schPlaylist.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.schPlaylist.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schPlaylist.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.schPlaylist.date" is-open="vm.datePickerOpenStatus.date"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schPlaylist.dimYear" for="field_dimYear">Dim Year</label>
            <input type="number" class="form-control" name="dimYear" id="field_dimYear"
                    ng-model="vm.schPlaylist.dimYear"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schPlaylist.dimMonth" for="field_dimMonth">Dim Month</label>
            <input type="number" class="form-control" name="dimMonth" id="field_dimMonth"
                    ng-model="vm.schPlaylist.dimMonth"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.schPlaylist.dimDay" for="field_dimDay">Dim Day</label>
            <input type="number" class="form-control" name="dimDay" id="field_dimDay"
                    ng-model="vm.schPlaylist.dimDay"
                    />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.schPlaylist.channel" for="field_channel">Channel</label>
            <select class="form-control" id="field_channel" name="channel" ng-model="vm.schPlaylist.channelId" ng-options="corChannel.id as corChannel.id for corChannel in vm.corchannels"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
