
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLibAudioObjectLabel" data-translate="protoneApp.libAudioObject.home.createOrEditLabel">Create or edit a Lib Audio Object</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.libAudioObject.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.libAudioObject.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.libAudioObject.length" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                    ng-model="vm.libAudioObject.length"
                    required/>
            <div ng-show="editForm.length.$invalid">
                <p class="help-block"
                    ng-show="editForm.length.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.length.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.libAudioObject.biTrate" for="field_biTrate">Bi Trate</label>
            <input type="number" class="form-control" name="biTrate" id="field_biTrate"
                    ng-model="vm.libAudioObject.biTrate"
                    required/>
            <div ng-show="editForm.biTrate.$invalid">
                <p class="help-block"
                    ng-show="editForm.biTrate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.biTrate.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.libAudioObject.codec" for="field_codec">Codec</label>
            <input type="text" class="form-control" name="codec" id="field_codec"
                    ng-model="vm.libAudioObject.codec"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.codec.$invalid">
                <p class="help-block"
                    ng-show="editForm.codec.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codec.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.libAudioObject.quality" for="field_quality">Quality</label>
            <select class="form-control" name="quality" ng-model="vm.libAudioObject.quality" id="field_quality">
                <option value="AQ_ORIGINAL" data-translate="protoneApp.LibAudioQualityEnum.AQ_ORIGINAL">AQ_ORIGINAL</option>
                <option value="AQ_LOSSLESS" data-translate="protoneApp.LibAudioQualityEnum.AQ_LOSSLESS">AQ_LOSSLESS</option>
                <option value="AQ_HIGH" data-translate="protoneApp.LibAudioQualityEnum.AQ_HIGH">AQ_HIGH</option>
                <option value="AQ_NORMAL" data-translate="protoneApp.LibAudioQualityEnum.AQ_NORMAL">AQ_NORMAL</option>
                <option value="AQ_LOW" data-translate="protoneApp.LibAudioQualityEnum.AQ_LOW">AQ_LOW</option>
                <option value="AQ_OTHER" data-translate="protoneApp.LibAudioQualityEnum.AQ_OTHER">AQ_OTHER</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.libAudioObject.cloudObject" for="field_cloudObject">Cloud Object</label>
            <select class="form-control" id="field_cloudObject" name="cloudObject" ng-model="vm.libAudioObject.cloudObjectId" ng-options="libCloudObject.id as libCloudObject.id for libCloudObject in vm.cloudobjects | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.libAudioObject.mediaItem" for="field_mediaItem">Media Item</label>
            <select class="form-control" id="field_mediaItem" name="mediaItem" ng-model="vm.libAudioObject.mediaItemId" ng-options="libMediaItem.id as libMediaItem.id for libMediaItem in vm.libmediaitems"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
