
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTraInvoiceLabel" data-translate="protoneApp.traInvoice.home.createOrEditLabel">Create or edit a Tra Invoice</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.traInvoice.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.traInvoice.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.traInvoice.paid" for="field_paid">Paid</label>
            <input type="checkbox" class="form-control" name="paid" id="field_paid"
                    ng-model="vm.traInvoice.paid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.traInvoice.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.traInvoice.price"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.traInvoice.paymentDay" for="field_paymentDay">Payment Day</label>
                <div class="input-group">
                    <input id="field_paymentDay" type="text" class="form-control" name="paymentDay" uib-datepicker-popup="{{dateformat}}" ng-model="vm.traInvoice.paymentDay" is-open="vm.datePickerOpenStatus.paymentDay"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('paymentDay')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.traInvoice.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.traInvoice.customerId" ng-options="crmAccount.id as crmAccount.id for crmAccount in vm.crmaccounts"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.traInvoice.network" for="field_network">Network</label>
            <select class="form-control" id="field_network" name="network" ng-model="vm.traInvoice.networkId" ng-options="corNetwork.id as corNetwork.id for corNetwork in vm.cornetworks"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.traInvoice.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.traInvoice.statusId" ng-options="traInvoiceStatus.id as traInvoiceStatus.id for traInvoiceStatus in vm.trainvoicestatuses"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
