
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTRADiscountLabel" data-translate="protoneApp.tRADiscount.home.createOrEditLabel">Create or edit a TRA Discount</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tRADiscount.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tRADiscount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.tRADiscount.validFrom" for="field_validFrom">Valid From</label>
                <div class="input-group">
                    <input id="field_validFrom" type="text" class="form-control" name="validFrom" uib-datepicker-popup="{{dateformat}}" ng-model="vm.tRADiscount.validFrom" is-open="vm.datePickerOpenStatus.validFrom"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.tRADiscount.validTo" for="field_validTo">Valid To</label>
                <div class="input-group">
                    <input id="field_validTo" type="text" class="form-control" name="validTo" uib-datepicker-popup="{{dateformat}}" ng-model="vm.tRADiscount.validTo" is-open="vm.datePickerOpenStatus.validTo"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('validTo')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.tRADiscount.discount" for="field_discount">Discount</label>
            <input type="number" class="form-control" name="discount" id="field_discount"
                    ng-model="vm.tRADiscount.discount"
                     />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.tRADiscount.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.tRADiscount.customerId" ng-options="tRACustomer.id as tRACustomer.id for tRACustomer in vm.tracustomers"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
