<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span data-translate="global.title">Protone</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-address" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrAddress">C Or Address</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-area" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrArea">C Or Area</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-association" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrAssociation">C Or Association</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-channel" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrChannel">C Or Channel</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-contact" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrContact">C Or Contact</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-property-key" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrPropertyKey">C Or Property Key</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-property-value" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrPropertyValue">C Or Property Value</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-network" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrNetwork">C Or Network</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-range" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrRange">C Or Range</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-size" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrSize">C Or Size</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-document" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrDocument">C Or Document</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-person" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrPerson">C Or Person</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-or-tag" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cOrTag">C Or Tag</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-fg-marker-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cFgMarkerConfiguration">C Fg Marker Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-album" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbAlbum">L Ib Album</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-artist" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbArtist">L Ib Artist</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-media-item" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbMediaItem">L Ib Media Item</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-label" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbLabel">L Ib Label</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-marker" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbMarker">L Ib Marker</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-library" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbLibrary">L Ib Library</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-track" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbTrack">L Ib Track</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-cloud-object" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbCloudObject">L Ib Cloud Object</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-image-object" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbImageObject">L Ib Image Object</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-audio-object" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbAudioObject">L Ib Audio Object</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-video-object" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbVideoObject">L Ib Video Object</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-image-item" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbImageItem">L Ib Image Item</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="l-ib-file-item" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.lIbFileItem">L Ib File Item</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="s-ch-block" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.sChBlock">S Ch Block</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="s-ch-template" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.sChTemplate">S Ch Template</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="s-ch-emission" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.sChEmission">S Ch Emission</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-emission-order" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaEmissionOrder">T Ra Emission Order</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-block-price" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaBlockPrice">T Ra Block Price</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-advertisement" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaAdvertisement">T Ra Advertisement</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-customer" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaCustomer">T Ra Customer</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-discount" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaDiscount">T Ra Discount</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-industry" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaIndustry">T Ra Industry</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-invoice" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaInvoice">T Ra Invoice</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-campaign" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaCampaign">T Ra Campaign</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-order" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaOrder">T Ra Order</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="t-ra-price" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.tRaPrice">T Ra Price</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-account" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmAccount">C Rm Account</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-contact" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmContact">C Rm Contact</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-lead" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmLead">C Rm Lead</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-lead-source" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmLeadSource">C Rm Lead Source</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-lead-status" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmLeadStatus">C Rm Lead Status</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-opportunity" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmOpportunity">C Rm Opportunity</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-task" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmTask">C Rm Task</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-task-status" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmTaskStatus">C Rm Task Status</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="c-rm-stage" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cRmStage">C Rm Stage</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
