<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span data-translate="global.title">Protone</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-task-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmTaskStatus">Crm Task Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cfg-marker-configuration" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.cfgMarkerConfiguration">Cfg Marker Configuration</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-area" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corArea">Cor Area</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-channel" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corChannel">Cor Channel</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-contact" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corContact">Cor Contact</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-country" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corCountry">Cor Country</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-currency" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corCurrency">Cor Currency</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-network" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corNetwork">Cor Network</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-notification" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corNotification">Cor Notification</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-person" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corPerson">Cor Person</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-property-key" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corPropertyKey">Cor Property Key</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-property-value" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corPropertyValue">Cor Property Value</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-range" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corRange">Cor Range</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-size" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corSize">Cor Size</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corStatus">Cor Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-subscription" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corSubscription">Cor Subscription</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-tag" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corTag">Cor Tag</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-tax" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corTax">Cor Tax</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-user" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corUser">Cor User</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-account" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmAccount">Crm Account</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-contact" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmContact">Crm Contact</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-contact-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmContactStatus">Crm Contact Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-lead" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmLead">Crm Lead</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-lead-source" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmLeadSource">Crm Lead Source</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-lead-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmLeadStatus">Crm Lead Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-opportunity" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmOpportunity">Crm Opportunity</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-stage" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmStage">Crm Stage</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-task" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmTask">Crm Task</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="crm-task-comment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.crmTaskComment">Crm Task Comment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="cor-address" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.corAddress">Cor Address</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-album" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libAlbum">Lib Album</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-artist" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libArtist">Lib Artist</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-audio-object" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libAudioObject">Lib Audio Object</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-cloud-object" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libCloudObject">Lib Cloud Object</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-file-item" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libFileItem">Lib File Item</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-image-item" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libImageItem">Lib Image Item</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-image-object" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libImageObject">Lib Image Object</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-label" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libLabel">Lib Label</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-library" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libLibrary">Lib Library</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-marker" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libMarker">Lib Marker</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-media-item" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libMediaItem">Lib Media Item</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-track" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libTrack">Lib Track</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="lib-video-object" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.libVideoObject">Lib Video Object</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="sch-block" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.schBlock">Sch Block</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="sch-emission" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.schEmission">Sch Emission</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="sch-playlist" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.schPlaylist">Sch Playlist</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="sch-template" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.schTemplate">Sch Template</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-advertisement" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traAdvertisement">Tra Advertisement</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-advertisment-type" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traAdvertismentType">Tra Advertisment Type</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-campaign" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traCampaign">Tra Campaign</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-campaing-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traCampaingStatus">Tra Campaing Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-discount" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traDiscount">Tra Discount</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-industry" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traIndustry">Tra Industry</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-invoice" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traInvoice">Tra Invoice</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-invoice-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traInvoiceStatus">Tra Invoice Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-order" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traOrder">Tra Order</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-order-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traOrderStatus">Tra Order Status</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tra-price" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.traPrice">Tra Price</span>
                                </a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
