
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTraOrderLabel" data-translate="protoneApp.traOrder.home.createOrEditLabel">Create or edit a Tra Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.traOrder.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.traOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.traOrder.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.traOrder.name"
                    required ng-maxlength="100"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.traOrder.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.traOrder.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.traOrder.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.traOrder.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.traOrder.calculatedPrize" for="field_calculatedPrize">Calculated Prize</label>
            <input type="number" class="form-control" name="calculatedPrize" id="field_calculatedPrize"
                    ng-model="vm.traOrder.calculatedPrize"
                    />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.traOrder.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.traOrder.customerId" ng-options="crmAccount.id as crmAccount.id for crmAccount in vm.crmaccounts"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.traOrder.campaign" for="field_campaign">Campaign</label>
            <select class="form-control" id="field_campaign" name="campaign" ng-model="vm.traOrder.campaignId" ng-options="traCampaign.id as traCampaign.id for traCampaign in vm.tracampaigns"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.traOrder.price" for="field_price">Price</label>
            <select class="form-control" id="field_price" name="price" ng-model="vm.traOrder.priceId" ng-options="traPrice.id as traPrice.id for traPrice in vm.traprices"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.traOrder.network" for="field_network">Network</label>
            <select class="form-control" id="field_network" name="network" ng-model="vm.traOrder.networkId" ng-options="corNetwork.id as corNetwork.id for corNetwork in vm.cornetworks"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.traOrder.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.traOrder.statusId" ng-options="traOrderStatus.id as traOrderStatus.id for traOrderStatus in vm.traorderstatuses"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.traOrder.invoice" for="field_invoice">Invoice</label>
            <select class="form-control" id="field_invoice" name="invoice" ng-model="vm.traOrder.invoiceId" ng-options="traInvoice.id as traInvoice.id for traInvoice in vm.trainvoices"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
