
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLibImageObjectLabel" data-translate="protoneApp.libImageObject.home.createOrEditLabel">Create or edit a Lib Image Object</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.libImageObject.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.libImageObject.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.libImageObject.width" for="field_width">Width</label>
            <input type="number" class="form-control" name="width" id="field_width"
                    ng-model="vm.libImageObject.width"
                    required/>
            <div ng-show="editForm.width.$invalid">
                <p class="help-block"
                    ng-show="editForm.width.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.width.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.libImageObject.height" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                    ng-model="vm.libImageObject.height"
                    required/>
            <div ng-show="editForm.height.$invalid">
                <p class="help-block"
                    ng-show="editForm.height.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.height.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.libImageObject.imageSize" for="field_imageSize">Image Size</label>
            <select class="form-control" name="imageSize" ng-model="vm.libImageObject.imageSize" id="field_imageSize" required>
                <option value="IS_ORIGINAL" data-translate="protoneApp.LibImageSizeEnum.IS_ORIGINAL">IS_ORIGINAL</option>
                <option value="IS_LARGE" data-translate="protoneApp.LibImageSizeEnum.IS_LARGE">IS_LARGE</option>
                <option value="IS_NORMAL" data-translate="protoneApp.LibImageSizeEnum.IS_NORMAL">IS_NORMAL</option>
                <option value="IS_SMALL" data-translate="protoneApp.LibImageSizeEnum.IS_SMALL">IS_SMALL</option>
            </select>
            <div ng-show="editForm.imageSize.$invalid">
                <p class="help-block"
                    ng-show="editForm.imageSize.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.libImageObject.cloudObject" for="field_cloudObject">Cloud Object</label>
            <select class="form-control" id="field_cloudObject" name="cloudObject" ng-model="vm.libImageObject.cloudObjectId" ng-options="libCloudObject.id as libCloudObject.id for libCloudObject in vm.cloudobjects | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.libImageObject.imageItem" for="field_imageItem">Image Item</label>
            <select class="form-control" id="field_imageItem" name="imageItem" ng-model="vm.libImageObject.imageItemId" ng-options="libImageItem.id as libImageItem.id for libImageItem in vm.libimageitems"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
