
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCrmAccountLabel" data-translate="protoneApp.crmAccount.home.createOrEditLabel">Create or edit a Crm Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.crmAccount.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.crmAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmAccount.shortName" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                    ng-model="vm.crmAccount.shortName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmAccount.externalId1" for="field_externalId1">External Id 1</label>
            <input type="text" class="form-control" name="externalId1" id="field_externalId1"
                    ng-model="vm.crmAccount.externalId1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmAccount.externalId2" for="field_externalId2">External Id 2</label>
            <input type="text" class="form-control" name="externalId2" id="field_externalId2"
                    ng-model="vm.crmAccount.externalId2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmAccount.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.crmAccount.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmAccount.paymentDelay" for="field_paymentDelay">Payment Delay</label>
            <input type="number" class="form-control" name="paymentDelay" id="field_paymentDelay"
                    ng-model="vm.crmAccount.paymentDelay"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmAccount.vatNumber" for="field_vatNumber">Vat Number</label>
            <input type="text" class="form-control" name="vatNumber" id="field_vatNumber"
                    ng-model="vm.crmAccount.vatNumber"
                    />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.person" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" ng-model="vm.crmAccount.personId" ng-options="corPerson.id as corPerson.id for corPerson in vm.people | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.addres" for="field_addres">Addres</label>
            <select class="form-control" id="field_addres" name="addres" ng-model="vm.crmAccount.addresId" ng-options="corAddress.id as corAddress.id for corAddress in vm.addres | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.network" for="field_network">Network</label>
            <select class="form-control" id="field_network" name="network" ng-model="vm.crmAccount.networkId" ng-options="corNetwork.id as corNetwork.id for corNetwork in vm.cornetworks"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.discount" for="field_discount">Discount</label>
            <select class="form-control" id="field_discount" name="discount" ng-model="vm.crmAccount.discountId" ng-options="traDiscount.id as traDiscount.id for traDiscount in vm.tradiscounts"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.keeper" for="field_keeper">Keeper</label>
            <select class="form-control" id="field_keeper" name="keeper" ng-model="vm.crmAccount.keeperId" ng-options="corUser.id as corUser.id for corUser in vm.corusers"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" ng-model="vm.crmAccount.countryId" ng-options="corCountry.id as corCountry.id for corCountry in vm.corcountries"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.range" for="field_range">Range</label>
            <select class="form-control" id="field_range" name="range" ng-model="vm.crmAccount.rangeId" ng-options="corRange.id as corRange.id for corRange in vm.corranges"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.size" for="field_size">Size</label>
            <select class="form-control" id="field_size" name="size" ng-model="vm.crmAccount.sizeId" ng-options="corSize.id as corSize.id for corSize in vm.corsizes"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.industry" for="field_industry">Industry</label>
            <select class="form-control" id="field_industry" name="industry" ng-model="vm.crmAccount.industryId" ng-options="traIndustry.id as traIndustry.id for traIndustry in vm.traindustries"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmAccount.area" for="field_area">Area</label>
            <select class="form-control" id="field_area" name="area" ng-model="vm.crmAccount.areaId" ng-options="corArea.id as corArea.id for corArea in vm.corareas"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
