
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLIBLibraryLabel" data-translate="protoneApp.lIBLibrary.home.createOrEditLabel">Create or edit a LIB Library</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lIBLibrary.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lIBLibrary.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBLibrary.prefix" for="field_prefix">Prefix</label>
            <input type="text" class="form-control" name="prefix" id="field_prefix"
                    ng-model="vm.lIBLibrary.prefix"
                    required ng-maxlength="1" />
            <div ng-show="editForm.prefix.$invalid">
                <p class="help-block"
                    ng-show="editForm.prefix.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.prefix.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBLibrary.idxLength" for="field_idxLength">Idx Length</label>
            <input type="number" class="form-control" name="idxLength" id="field_idxLength"
                    ng-model="vm.lIBLibrary.idxLength"
                    required />
            <div ng-show="editForm.idxLength.$invalid">
                <p class="help-block"
                    ng-show="editForm.idxLength.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idxLength.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBLibrary.shortcut" for="field_shortcut">Shortcut</label>
            <input type="text" class="form-control" name="shortcut" id="field_shortcut"
                    ng-model="vm.lIBLibrary.shortcut"
                    required ng-maxlength="3" />
            <div ng-show="editForm.shortcut.$invalid">
                <p class="help-block"
                    ng-show="editForm.shortcut.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.shortcut.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="3">
                    This field cannot be longer than 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBLibrary.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.lIBLibrary.name"
                    required ng-maxlength="100" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBLibrary.counter" for="field_counter">Counter</label>
            <input type="number" class="form-control" name="counter" id="field_counter"
                    ng-model="vm.lIBLibrary.counter"
                    required />
            <div ng-show="editForm.counter.$invalid">
                <p class="help-block"
                    ng-show="editForm.counter.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.counter.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBLibrary.counterType" for="field_counterType">Counter Type</label>
            <select class="form-control" name="counterType" ng-model="vm.lIBLibrary.counterType" id="field_counterType">
                <option value="CT_COUNTER" data-translate="protoneApp.LIBCounterTypeEnum.CT_COUNTER">CT_COUNTER</option>
                <option value="CT_PREFIX_COUNTER" data-translate="protoneApp.LIBCounterTypeEnum.CT_PREFIX_COUNTER">CT_PREFIX_COUNTER</option>
                <option value="CT_SHORTCUT_COUNTER" data-translate="protoneApp.LIBCounterTypeEnum.CT_SHORTCUT_COUNTER">CT_SHORTCUT_COUNTER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBLibrary.libraryType" for="field_libraryType">Library Type</label>
            <select class="form-control" name="libraryType" ng-model="vm.lIBLibrary.libraryType" id="field_libraryType" required>
                <option value="OT_IMAGE" data-translate="protoneApp.LIBObjectTypeEnum.OT_IMAGE">OT_IMAGE</option>
                <option value="OT_AUDIO" data-translate="protoneApp.LIBObjectTypeEnum.OT_AUDIO">OT_AUDIO</option>
                <option value="OT_VIDEO" data-translate="protoneApp.LIBObjectTypeEnum.OT_VIDEO">OT_VIDEO</option>
                <option value="OT_FILE" data-translate="protoneApp.LIBObjectTypeEnum.OT_FILE">OT_FILE</option>
            </select>
            <div ng-show="editForm.libraryType.$invalid">
                <p class="help-block"
                    ng-show="editForm.libraryType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBLibrary.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.lIBLibrary.description"
                     />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.lIBLibrary.network" for="field_network">Network</label>
            <select class="form-control" id="field_network" name="network" ng-model="vm.lIBLibrary.networkId" ng-options="cORNetwork.id as cORNetwork.id for cORNetwork in vm.cornetworks"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
