
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCrmLeadLabel" data-translate="protoneApp.crmLead.home.createOrEditLabel">Create or edit a Crm Lead</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.crmLead.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.crmLead.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmLead.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.crmLead.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmLead.shortname" for="field_shortname">Shortname</label>
            <input type="text" class="form-control" name="shortname" id="field_shortname"
                    ng-model="vm.crmLead.shortname"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.crmLead.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.crmLead.description"
                    />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.crmLead.person" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" ng-model="vm.crmLead.personId" ng-options="corPerson.id as corPerson.id for corPerson in vm.people | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmLead.addres" for="field_addres">Addres</label>
            <select class="form-control" id="field_addres" name="addres" ng-model="vm.crmLead.addresId" ng-options="corAddress.id as corAddress.id for corAddress in vm.addres | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmLead.leadStatus" for="field_leadStatus">Lead Status</label>
            <select class="form-control" id="field_leadStatus" name="leadStatus" ng-model="vm.crmLead.leadStatusId" ng-options="crmLeadStatus.id as crmLeadStatus.id for crmLeadStatus in vm.crmleadstatuses"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmLead.leadSource" for="field_leadSource">Lead Source</label>
            <select class="form-control" id="field_leadSource" name="leadSource" ng-model="vm.crmLead.leadSourceId" ng-options="crmLeadSource.id as crmLeadSource.id for crmLeadSource in vm.crmleadsources"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmLead.keeper" for="field_keeper">Keeper</label>
            <select class="form-control" id="field_keeper" name="keeper" ng-model="vm.crmLead.keeperId" ng-options="corUser.id as corUser.id for corUser in vm.corusers"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmLead.industry" for="field_industry">Industry</label>
            <select class="form-control" id="field_industry" name="industry" ng-model="vm.crmLead.industryId" ng-options="traIndustry.id as traIndustry.id for traIndustry in vm.traindustries"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmLead.area" for="field_area">Area</label>
            <select class="form-control" id="field_area" name="area" ng-model="vm.crmLead.areaId" ng-options="corArea.id as corArea.id for corArea in vm.corareas"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.crmLead.network" for="field_network">Network</label>
            <select class="form-control" id="field_network" name="network" ng-model="vm.crmLead.networkId" ng-options="corNetwork.id as corNetwork.id for corNetwork in vm.cornetworks"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
