
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLIBMediaItemLabel" data-translate="protoneApp.lIBMediaItem.home.createOrEditLabel">Create or edit a LIB Media Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lIBMediaItem.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lIBMediaItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBMediaItem.idx" for="field_idx">Idx</label>
            <input type="text" class="form-control" name="idx" id="field_idx"
                    ng-model="vm.lIBMediaItem.idx"
                    required ng-maxlength="15" />
            <div ng-show="editForm.idx.$invalid">
                <p class="help-block"
                    ng-show="editForm.idx.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idx.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="15">
                    This field cannot be longer than 15 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBMediaItem.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.lIBMediaItem.name"
                    required ng-maxlength="100" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBMediaItem.itemType" for="field_itemType">Item Type</label>
            <select class="form-control" name="itemType" ng-model="vm.lIBMediaItem.itemType" id="field_itemType" required>
                <option value="IT_AUDIO" data-translate="protoneApp.LIBItemTypeEnum.IT_AUDIO">IT_AUDIO</option>
                <option value="IT_VIDEO" data-translate="protoneApp.LIBItemTypeEnum.IT_VIDEO">IT_VIDEO</option>
                <option value="IT_COMMAND" data-translate="protoneApp.LIBItemTypeEnum.IT_COMMAND">IT_COMMAND</option>
                <option value="IT_OTHER" data-translate="protoneApp.LIBItemTypeEnum.IT_OTHER">IT_OTHER</option>
            </select>
            <div ng-show="editForm.itemType.$invalid">
                <p class="help-block"
                    ng-show="editForm.itemType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBMediaItem.length" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                    ng-model="vm.lIBMediaItem.length"
                    required />
            <div ng-show="editForm.length.$invalid">
                <p class="help-block"
                    ng-show="editForm.length.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.length.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBMediaItem.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="vm.lIBMediaItem.state" id="field_state" required>
                <option value="IS_NEW" data-translate="protoneApp.LIBItemStateEnum.IS_NEW">IS_NEW</option>
                <option value="IS_POSTPROCESS" data-translate="protoneApp.LIBItemStateEnum.IS_POSTPROCESS">IS_POSTPROCESS</option>
                <option value="IS_ENABLED" data-translate="protoneApp.LIBItemStateEnum.IS_ENABLED">IS_ENABLED</option>
                <option value="IS_DISABLED" data-translate="protoneApp.LIBItemStateEnum.IS_DISABLED">IS_DISABLED</option>
                <option value="IS_ARCHIVED" data-translate="protoneApp.LIBItemStateEnum.IS_ARCHIVED">IS_ARCHIVED</option>
                <option value="IS_DELETED" data-translate="protoneApp.LIBItemStateEnum.IS_DELETED">IS_DELETED</option>
                <option value="IS_ERROR" data-translate="protoneApp.LIBItemStateEnum.IS_ERROR">IS_ERROR</option>
                <option value="IS_OTHER" data-translate="protoneApp.LIBItemStateEnum.IS_OTHER">IS_OTHER</option>
            </select>
            <div ng-show="editForm.state.$invalid">
                <p class="help-block"
                    ng-show="editForm.state.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBMediaItem.command" for="field_command">Command</label>
            <input type="text" class="form-control" name="command" id="field_command"
                    ng-model="vm.lIBMediaItem.command"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="protoneApp.lIBMediaItem.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.lIBMediaItem.description"
                     />
        </div>

        <div class="form-group">
            <label data-translate="protoneApp.lIBMediaItem.library" for="field_library">Library</label>
            <select class="form-control" id="field_library" name="library" ng-model="vm.lIBMediaItem.libraryId" ng-options="lIBLibrary.id as lIBLibrary.id for lIBLibrary in vm.liblibraries"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.lIBMediaItem.label" for="field_label">Label</label>
            <select class="form-control" id="field_label" name="label" ng-model="vm.lIBMediaItem.labelId" ng-options="lIBLabel.id as lIBLabel.id for lIBLabel in vm.liblabels"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.lIBMediaItem.artist" for="field_artist">Artist</label>
            <select class="form-control" id="field_artist" name="artist" ng-model="vm.lIBMediaItem.artistId" ng-options="lIBArtist.id as lIBArtist.id for lIBArtist in vm.libartists"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.lIBMediaItem.album" for="field_album">Album</label>
            <select class="form-control" id="field_album" name="album" ng-model="vm.lIBMediaItem.albumId" ng-options="lIBAlbum.id as lIBAlbum.id for lIBAlbum in vm.libalbums"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="protoneApp.lIBMediaItem.track" for="field_track">Track</label>
            <select class="form-control" id="field_track" name="track" ng-model="vm.lIBMediaItem.trackId" ng-options="lIBTrack.id as lIBTrack.id for lIBTrack in vm.libtracks"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
